.header {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.main {
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
}

.footer {
    font-size: 12px;
    font-family: 'Courier New', Courier, monospace;
}