.header {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.main {
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
}

.footer {
    font-size: 12px;
    font-family: 'Courier New', Courier, monospace;
}

.list-container {
    display: flex;
    gap: 40px;
    align-items: flex-start;
    list-style: none;
    margin: 0;
    padding: 20px 0;
}